.title{
  font-size: 80px;
  text-transform: uppercase;
  background:url("./components/images/nav1.jpg");
  color:transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: ani 8s linear infinite;
}
.scrolls{
  margin-top:200px;
}
@keyframes ani {
  0%{
    background-position: left 0px top 0px;
  }
  40%{
    background-position: left 400px top 20px;
  }
}